name: create-rpi-image
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUBLIC_KEY: ''
      WS_NAME: ''
    steps:
      - uses: actions/checkout@v6
      - run: |
          curl -L https://raw.githubusercontent.com/gitbls/sdm/master/install-sdm | bash
          wget http://cdimage.ubuntu.com/releases/noble/release/ubuntu-24.04.4-preinstalled-server-arm64+raspi.img.xz -O ubuntu.img.xz
          echo "WS_NAME=$(echo "${{ github.event.repository.name }}" | rev | cut -d'_' -f2- | rev)" >> "$GITHUB_ENV"
          ssh-keygen -t ed25519 -f ./id_ed25519 -N ''
          echo "PUBLIC_KEY=$(cat ./id_ed25519.pub)" >> "$GITHUB_ENV"
      - uses: octokit/request-action@v2.x
        id: add_deploy_key
        with:
          route: POST /repos/${{ github.repository }}/keys
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          title: ${{ env.WS_NAME }}
          key: ${{ env.PUBLIC_KEY }}
          read_only: false
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_PAT }}
      - run: |
          sdm 
