name: create-rpi-image
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUBLIC_KEY: ''
      WS_NAME: ''
    steps:
      - uses: actions/checkout@v6
      - run: |
          curl -L https://raw.githubusercontent.com/gitbls/sdm/master/install-sdm | bash
          wget http://cdimage.ubuntu.com/releases/noble/release/ubuntu-24.04.4-preinstalled-server-arm64+raspi.img.xz -O ubuntu.img.xz
          echo "WS_NAME=$(echo "${{ github.event.repository.name }}" | rev | cut -d'_' -f2- | rev)" >> "$GITHUB_ENV"
          ssh-keygen -t ed25519 -f ./id_ed25519 -N ''
          echo "PUBLIC_KEY=$(cat ./id_ed25519.pub)" >> "$GITHUB_ENV"
      - uses: octokit/request-action@v2.x
        id: add_deploy_key
        with:
          route: POST /repos/${{ github.repository }}/keys
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          title: ${{ env.WS_NAME }}
          key: ${{ env.PUBLIC_KEY }}
          read_only: false
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_PAT }}
      - run: |
          sdm --customize \
              --plugin user:\"deluser=pi|adduser=${{ env.WS_NAME }}|password=${{ env.WS_NAME }}\" \
              --plugin apt-addrepo:\"repo=deb  http://packages.ros.org/ros2/ubuntu/ noble|gpgkey=https://github.com/ros-infrastructure/ros-apt-source/raw/refs/heads/main/ros-apt-source/keys/ros2-archive-keyring.gpg\" \
              --plugin network:\"ifname=wlan0|wifissid=PBS4|wifipassword=DPS2home01|wificountry=US|ifname=eth0\" \
              --plugin L10n:\"keymap=us|locale=en_US.UTF-8|timezone=America/Chicago|wificountry=us\" \
              --plugin disables:\"piwiz|cloudinit\" \
              --plugin apps:\"ros-jazzy-desktop\" \
              --plugin sshkey:\"sshuser=${{ env.WS_NAME }}|import-key=./id_ed25519|passphrase=\" \
              --plugin git-clone:\"repo=git@github.com:${{ github.repository }}.git|gitdir=/home/${{ env.WS_NAME }}/${{ github.event.repository.name }}|user=${{ env.WS_NAME }}\" \
              --extend --xmb 2048 --restart --logwidth 256 ubuntu.img.xz
      - id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: noble
          release_name: image
          draft: true
          prerelease: false
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ubuntu.img.xz
          asset_name: ubuntu.img.xz
          asset_content_type: application/x-xz
      - uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.create_release.outputs.id }}
