name: create-rpi-image
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUBLIC_KEY: ''
      WS_NAME: ''
    steps:
      - uses: actions/checkout@v6
      - run: |
          curl -L https://raw.githubusercontent.com/gitbls/sdm/master/install-sdm | bash
          wget http://cdimage.ubuntu.com/releases/noble/release/ubuntu-24.04.4-preinstalled-server-arm64+raspi.img.xz -O ubuntu.img.xz
          echo "WS_NAME=$(echo "${{ github.event.repository.name }}" | rev | cut -d'_' -f2- | rev)" >> "$GITHUB_ENV"
          ssh-keygen -t ed25519 -f ./id_ed25519 -N ''
          echo "PUBLIC_KEY=$(cat ./id_ed25519.pub)" >> "$GITHUB_ENV"
      - uses: octokit/request-action@v2.x
        id: add_deploy_key
        with:
          route: POST /repos/${{ github.repository }}/keys
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          title: ${{ env.WS_NAME }}
          key: ${{ env.PUBLIC_KEY }}
          read_only: false
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_PAT }}
      - env:
          REPO: ${{ github.repository }}
          REPO_NAME: ${{ github.event.repository.name }}
        run: bash .github/workflows/customize.bash
      - id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: noble
          release_name: image
          draft: true
          prerelease: false
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ubuntu.img.xz
          asset_name: ubuntu.img.xz
          asset_content_type: application/x-xz
      - uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.create_release.outputs.id }}
